<div id="wysihtml-toolbar" style="margin-bottom: 5px">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-wysihtml5-command="bold" title="Bold"><i class="fa fa-bold" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" data-wysihtml5-command="italic" title="Italic"><i class="fa fa-italic" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" data-wysihtml5-command="underline" title="Subliniere"><i class="fa fa-underline" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" data-wysihtml5-command="removeFormat" title="Șterge formatare"><i class="fa fa-eraser" aria-hidden="true"></i></button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-wysihtml5-command="insertOrderedList" title="Listă numerotată"><i class="fa fa-list-ol" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" data-wysihtml5-command="insertUnorderedList" title="Listă neordonată"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-wysihtml5-command="justifyCenter" title="Aliniere pe centru"><i class="fa fa-align-center" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" data-wysihtml5-command="justifyLeft" title="Aliniere pe stânga"><i class="fa fa-align-left" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" data-wysihtml5-command="justifyRight" title="Aliniere pe dreapta"><i class="fa fa-align-right" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" data-wysihtml5-command="justifyFull" title="Aliniere totală"><i class="fa fa-align-justify" aria-hidden="true"></i></button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" data-wysihtml5-command="insertImage" title="Inserează imagine"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" data-wysihtml5-command="createLink" title="Link"><i class="fa fa-link" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default" data-wysihtml5-command="removeLink" title="Șterge link"><i class="fa fa-unlink" aria-hidden="true"></i></button>
    </div>
    <div data-wysihtml5-dialog="createLink" style="display: none; margin-top: 2px">
        <div class="input-group">
            <input data-wysihtml5-dialog-field="href" type="text" class="form-control" placeholder="link" value="http://">
            <div class="input-group-btn" role="group">
                <button type="button" class="btn btn-default" data-wysihtml5-dialog-action="save">OK</button>
                <button type="button" class="btn btn-default" data-wysihtml5-dialog-action="cancel">Anulează</button>
            </div>
        </div>
    </div>
    <div data-wysihtml5-dialog="insertImage" style="display: none; margin-top: 2px">
        <div class="input-group">
            <input data-wysihtml5-dialog-field="src" type="text" class="form-control" placeholder="link" value="http://">
            <div class="input-group-btn" role="group">
                <button type="button" class="btn btn-default" data-wysihtml5-dialog-action="save">OK</button>
                <button type="button" class="btn btn-default" data-wysihtml5-dialog-action="cancel">Anulează</button>
            </div>
        </div>
    </div>
    <div >


    </div>
</div>