<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menu" class="top_nav navbar-fixed-top">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="glyphicon glyphicon-user" aria-hidden="true"></i>&nbsp;&nbsp;
                        <span th:text="${#authentication.getPrincipal().getFirstName()}"></span>
                        <span th:text="${#authentication.getPrincipal().getLastName()}"></span>
                        <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/change_password" th:href="@{/change_password}"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;Schimbare parolă</a></li>
                        <li><a href="/logout" th:href="@{/logout}"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;&nbsp;Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>