#addBtn {
    color:mediumseagreen;
    font-weight: bold;
}

.top-margin {
    margin-top: 3.5vh;
}

.addForm {
    width: 20vh;
    height: 3.5vh;
}

.together {
    display: inline-block;
}

.margin-input {
    margin-right: 2vh;
}

.page-title-petitions {
    margin-bottom: -5px;
}

.align-right {
	text-align: right;
}

div.right_col {
    padding-top: 70px !important;
}

.alert {
    width: auto;
}
.form-control{
    border-radius: 0 !important;
}
/*--daca este inclus css custom de la tema aceasta customizare nu mai este necesara*/
.select2-selection--single
{
    border-radius: 0 !important;
    min-height:34px !important;
    border:1px solid #ccc !important;

}
.select2-selection__rendered
{
   /* line-height: 20px !important;*/
}
.view-mail {
	margin-top: 20px;
}
.attachments {
	margin-top: 30px;
	margin-bottom: 30px;
}
.attachments ul{
	list-style: none;
}
.attachments ul li {
	padding: 5px;
}
.attachments ul li a:hover {
	font-weight: bold;
}