<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main_head :: head"></head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col" th:replace="fragments/left::menu"></div>
            <!-- top navigation -->
            <div class="top_nav" th:replace="fragments/top::menu"></div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="x_content">
                	<form class="form-horizontal form-label-left input_mask" id="password-form" th:action="@{/change_password}" method="post">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="buttons pull-right">
                                    <a href="/inbox" th:href="@{/inbox}" class="btn btn-default"><i class="fa fa-arrow-left"></i> <span>Înapoi</span></a>
                                    <button type="submit" class="btn btn-default"><i class="fa fa-key"></i> <span>Salvează</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="x_panel">
                    <div class="x_title">
                        <h2>Schimbare parolă</h2>
                        <div class="clearfix"></div>
                    </div>
                      <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Parola veche <span class="required">*</span></label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                          <input type="password" name="currentPassword" class="form-control" required="required" placeholder="Parola"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Parola noua <span class="required">*</span></label>
                        <div class="col-md-10 col-sm-10 col-xs-12">
                          <input type="password" id="newPassword" name="newPassword" class="form-control" data-parsley-equalto="#duplicate" required="required" minlength="8" placeholder="Parola"/>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Repeta parola noua <span class="required">*</span></label>
                          <div class="col-md-10 col-sm-10 col-xs-12">
                              <input type="password" id="duplicate" name="duplicate" class="form-control" data-parsley-equalto="#newPassword" required="required" minlength="8" placeholder="Parola"/>
                          </div>
                      </div>
                    </div>
                    </form>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <div th:replace="fragments/main_head::includes"></div>
    <div th:replace="fragments/main_head::toast"></div>

    <script type="text/javascript">
        $('#password-form').parsley();
    </script>
</body>
</html>