<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main_head :: head"></head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col" th:replace="fragments/left::menu"></div>
            <!-- top navigation -->
            <div class="top_nav" th:replace="fragments/top::menu"></div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div id="error-messages"></div>
            	<div class="">
                    <h2>Lista de contacte institutii</h2>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="buttons align-right">
                	  		<button id="add" type="button" class="btn btn-default btn-md"><i class="fa fa-plus-square-o"></i>&nbsp;<span>Adaugă</span></button>
                	  		<button id="modify" type="button" class="btn btn-default btn-md"><i class="fa fa-pencil-square-o"></i>&nbsp;<span>Modifică</span></button>
                	  		<button id="delete" type="button" class="btn btn-default btn-md"><i class="fa fa-minus-square-o"></i>&nbsp;<span>Șterge</span></button>
                	  	</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap jambo_table bulk_action top_search" cellspacing="0" width="100%">
                    </table>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <div th:replace="fragments/main_head::includes"></div>

	<!-- Datatables -->
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        var languageUrl = /*[[@{/vendors/datatables.net-i18n/Romanian.json}]]*/ "../static/vendors/datatables.net-i18n/Romanian.json";
        /*]]>*/
    </script>

	<script th:inline="none" type="text/javascript">
        var contactTable;
        $(document).ready(function () {
            contactTable = $('#datatable-responsive').DataTable({
                select: {
                    style: 'one'
                },
                processing: true,
                serverSide: true,
                order: [[2, 'desc']],
                rowId: "id",
                ajax: {
                    url: '/api/contacts',
                    type: 'POST'
                },
                language: {
                    url: languageUrl,
                    select: selectTranslation()
                },
                columns: [
                    {
                        data: null,
                        render: function (data, type, full, meta) {
                            return '<input type="checkbox"/>';
                        },
                        sortable: false,
                        searchable: false
                    },
                    {
                        name: 'name',
                        data: 'name',
                        title: 'Instituție',
                        searchable: true
                        
                    },
                    {
                        name: 'email',
                        data: 'email',
                        title: 'Email',
                        searchable: true
                    },
                    {
                        name: 'phone',
                        data: 'phone',
                        title: 'Telefon',
                        searchable: true
                    }
                ]
            });

            selectActions(contactTable);

            <!-- action invocation-->
            $("#add").click(function () {
                window.location.href = '/contact';
            });

            $("#modify").click(function () {
                var selectedRows = contactTable.rows({selected: true}).data().toArray();
                if (selectedRows.length != 1) {
                    addWarning("#error-messages", "Pentru modificări selectați un contact");
                    this.blur()
                } else {
                    window.location.href = '/contact/' + selectedRows[0].id;
                }
            });

            $("#delete").click(function () {
                var selectedRows = contactTable.rows({selected: true}).data().toArray();
                if (selectedRows.length != 1) {
                    addWarning("#error-messages", "Pentru ștergere selectați un contact");
                    this.blur()
                } else {
                    customAlert("Sunteți sigur că doriți ștergere contactului?", function () {
                        window.location.href = '/contact/' + selectedRows[0].id + '/delete';
                    });
                }
            });
        });
    </script>
    <!-- /Datatables -->
    <div th:replace="fragments/main_head::toast"></div>
</body>

</html>