<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_head :: head"></head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="fragments/left::menu"></div>

        <!-- top navigation -->
        <div class="top_nav" th:replace="fragments/top::menu"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <!-- alert -->
            <div id="alert" class="alert alert-dismissible hidden" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <span id="alert-content"></span>
            </div>
            <!-- end alert -->
            <div class="page-title-petitions">
                <h2>Template-uri e-mail</h2>
                <div class="clearfix"></div>
            </div>

            <div class="buttons align-right">
                <button type="button" id="add-email-template" class="btn btn-default btn-md">
                    <span class="fa fa-plus-square-o"></span> Adaugă
                </button>
                <button type="button" id="modify-email-template" class="btn btn-default btn-md">
                    <span class="fa fa-pencil-square-o"></span> Modifică
                </button>
                <button type="button" id="remove-email-template" class="btn btn-default btn-md">
                    <span class="fa fa-minus-square-o"></span> Șterge
                </button>
            </div>

            <div class="x_content">
                <table id="email-template" class="table table-striped table-bordered dt-responsive nowrap jambo_table bulk_action"
                       cellspacing="0" width="100%">
                </table>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<div th:replace="fragments/main_head::includes"></div>

<!-- Variables from backend -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var apiUrl = /*[[${apiUrl}]]*/ '/api/emailTemplates';
    var languageUrl = /*[[@{/vendors/datatables.net-i18n/Romanian.json}]]*/ "../static/vendors/datatables.net-i18n/Romanian.json";
    /*]]>*/
</script>

<!-- Datatables -->
<script type="text/javascript" th:inline="none">
    var table;
    $(document).ready(function () {
        $('#add-email-template').click(function () {
            window.location.href = '/emailTemplate';
        });

        $("#modify-email-template").click(function () {
            var selectedRows = table.rows({selected: true}).data().toArray();
            if (selectedRows.length != 1) {
                addWarning("#error-messages", "Pentru modificări selectați un template");
                this.blur()
            } else {
                window.location.href = '/emailTemplate/' + selectedRows[0].id;
            }
        });

        $("#remove-email-template").click(function () {
            var selectedRows = table.rows({selected: true}).data().toArray();
            if (selectedRows.length != 1) {
                addWarning("#error-messages", "Pentru ștergere selectați un template");
                this.blur()
            } else {
                customAlert("Sunteți sigur că doriți ștergere template-ului?", function (confirm) {
                    if (confirm) {
                        window.location.href = '/emailTemplate/' + selectedRows[0].id + '/delete';
                    }
                });
            }
        });

        table = $('#email-template').DataTable({
            select: {
                style: 'single'
            },
            rowId: "id",
            language: {
                url: languageUrl,
                select: selectTranslation()
            },
            processing: true,
            serverSide: true,
            sDom: 'lrtip ',
            order: [[0, 'asc']],
            ajax: {
                url: apiUrl,
                type: 'POST'
            },
            columns: [
                {
                    name: 'id',
                    data: 'id',
                    title: '#',
                    width: '10px'
                },
                {
                    name: 'category',
                    data: 'category',
                    title: 'Categorie'
                },
                {
                    name: 'name',
                    data: 'name',
                    title: 'Nume'
                }
            ]
        });
    });
</script>
<!-- /Datatables -->
<div th:replace="fragments/main_head::toast"></div>

</body>
</html>