<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main_head :: head"></head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col" th:substituteby="fragments/left::menu"></div>
            <!-- top navigation -->
            <div class="top_nav" th:substituteby="fragments/top::menu"></div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- alert -->
                <div id="alert" class="alert alert-dismissible hidden" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span id="alert-content"></span>
                </div>
                <!-- end alert -->
                <div class="page-title-petitions">
                    <h2>
                    <span th:text="${title}">Email-uri primite</span>
                    <small style="margin-left: 1.5vh;" th:text="${email}">adresa@mail.com</small>
                </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="inbox-body">
                        <div class="mail_heading row">
                            <div class="col-md-8">
                                <span>Acțiuni email selectat: </span>
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-default" type="button"><a href="#" th:href="@{'/petition/fromEmail/'+${data.getId()}}"><i class="fa fa-plus-square"></i> <span>Creeaz&#x103; peti&#x21b;ie</span></a></button>
                                    <button th:if="${data.type.name() == 'Inbox'}" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Marcheaz&#x103; ca spam" id="mark-spam-top"><i class="fa fa-trash-o"></i></button>
                                    <button th:if="${data.type.name() == 'Spam'}" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Marcheaz&#x103; ca email" id="mark-email-top"><i class="fa fa-envelope"></i></button>
                                </div>
                            </div>
                            <div class="col-md-4 text-right">
                                <p class="date"><span th:text="${data.date}">8:02 PM 12 FEB 2014</span></p>
                            </div>
                            <div class="col-md-12">
                                <p>Status: <span th:text="${status}">Ceva interesant</span></p>
                                <h4><span th:text="${data.subject}">Ceva interesant</span></h4>
                            </div>
                        </div>
                        <div class="sender-info">
                            <div class="row">
                                <div class="col-md-12">
                                    <strong></strong>
                                    <span>(<span th:text="${data.sender}">Ceva interesant</span>)</span> to
                                    <strong><span th:text="${data.recipients}">Ceva interesant</span></strong>
                                    <a class="sender-dropdown"><i class="fa fa-chevron-down"></i></a>
                                    <h6 th:if="${data.cc != null and data.cc.length() > 0}"><b>CC: </b><span th:text="${data.cc}">Ceva interesant</span></h6>
                                    <h6 th:if="${data.bcc != null and data.bcc.length() > 0}"><b>BCC: </b><span th:text="${data.bcc}">Ceva interesant</span></h6>
                                </div>
                            </div>
                        </div>
                        <div class="view-mail">
                            <p><span th:utext="${data.body}"></span></p>
                        </div>
                        <div class="attachments">
                        	<p>
                                <span><i class="fa fa-paperclip"></i>
                                    <span th:text="${data.attachments.size()}" th:remove="tag">title</span> atașament<span th:if="${data.attachments.size() != 1}" th:remove="tag">e</span>
                                    <span th:if="${data.attachments.size() > 1}" th:remove="tag"> - </span>
                                </span>
                                <a th:if="${data.attachments.size() > 1}"
                                   th:href="@{/api/email/__(${data.id})__/attachments/zip}" href="#">
                                    Salvează toate atașamentele
                                </a>
                            </p>
                            <ul>
                                <li th:each="attachment : ${data.attachments}">
                                    <a th:href="@{/api/attachments/download/__(${attachment.id})__}" href="#">
                                        <i class="fa fa-paperclip"></i>
                                        <span th:text="${attachment.originalFilename}" th:remove="tag">filename.jpg</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <span>Acțiuni email selectat: </span>
                            <div class="btn-group">
                                <button class="btn btn-sm btn-default" type="button" id="mark-spam"><a href="/petition/fromEmail/"><i class="fa fa-plus-square"></i> <span>Creează petiție</span></a></button>
                                <button th:if="${data.type.name() == 'Inbox'}" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Marchează ca spam" id="mark-spam-bottom"><i class="fa fa-trash-o"></i></button>
                                <button th:if="${data.type.name() == 'Spam'}" class="btn btn-sm btn-default" type="button" data-placement="top" data-toggle="tooltip" data-original-title="Marchează ca email" id="mark-email-bottom"><i class="fa fa-envelope"></i></button>
                            </div>
                        </div>
                    </div>
                    <!--/*@thymesVar id="data" type="ro.petitii.model.Email"*/-->
                </div>
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
    <div th:replace="fragments/main_head::includes"></div>
    <!-- Variables from backend -->
    <script th:inline="javascript">
    /*<![CDATA[*/
    var apiUrl = /*[[${apiUrl}]]*/ '/api/emails';
    /*]]>*/
    </script>

    <!-- Other actions -->
    <script th:inline="javascript" type="text/javascript">
        $(document).ready(function () {
            $('#mark-spam-top').click(function (e) {
                markAsSpam(e, getId())
            });
            $('#mark-spam-bottom').click(function (e) {
                markAsSpam(e, getId())
            });
            $('#mark-email-top').click(function (e) {
                markAsEmail(e, getId())
            });
            $('#mark-email-bottom').click(function (e) {
                markAsEmail(e, getId())
            });
        });

        function getId() {
            /*<![CDATA[*/
            var msgId = /*[[${data.id}]]*/ 'null';
            /*]]>*/
            return msgId;
        }
    </script>
    <div th:substituteby="fragments/main_head::toast"></div>
</body>
</html>