<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/spring-security.xsd">

<head th:replace="fragments/main_head :: head"></head>

<body th:class="${isLogged} ? 'nav-md': ''">
<div class="container body">
    <div class="main_container">
        <div sec:authorize="isAuthenticated()" class="col-md-3 left_col" th:replace="fragments/left::menu"></div>
        <div sec:authorize="isAuthenticated()" class="top_nav" th:replace="fragments/top::menu"></div>
        <div class="right_col" role="main">
            <div class="x_content">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 class="text-danger">Eroare de sistem</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group">
                            <p>Din păcate erorile pot apărea oricând. Datele dumneavoastră și ultima operațiune efectuată ar trebui să fie disponibile fără alte probleme.</p>
                            <p>Vă rugăm reluați ultima operațiune efectuată. Dacă eroarea persistă, vă rugăm contactați administratorul de sistem.</p>
                            <p class="text-danger"><b>Detalii tehnice:</b></p>
                            <p><b>URL: </b><span th:text="${url}"></span></p>
                            <p><b>Exception: </b><span th:text="${exception}"></span></p>
                            <p th:text="${stack}"></p>
                        </div>
                    </div>
            </div>
        </div>
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
    </div>
</div>
<div th:replace="fragments/main_head::includes"></div>
<div th:replace="fragments/main_head::toast"></div>
</body>
</html>