<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headTag">
        <title>Petiții</title>
        <link href="" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
        <style>
            body { padding-top: 80px; /* 80px to make the container go all the way to the bottom of the topbar */ }
        </style>
        <script src="" th:src="@{/webjars/jquery/3.1.1/jquery.js}"></script>
        <script src="" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
        <script type="text/javascript" src="js/custom.js" th:src="@{/js/custom.js}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body/>
</html>