<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="main_head::head"></head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:substituteby="left::menu"></div>

        <!-- top navigation -->
        <div class="top_nav" th:substituteby="top::menu"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <h2>Petițiile mele</h2>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="radio">
                     <label>
                       <input type="radio" class="flat" checked="true" name="iCheck" th:text="${petitiiInLucru}"/> Petiții în lucru
                     </label>
                   </div>
                   <div class="radio">
                     <label>
                       <input type="radio" class="flat" name="iCheck" th:text="${toatePetitiile}"/> Toate
                     </label>
                   </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                	  <div class="buttons pull-right">
                	  	<button type="button" class="btn btn-default btn-sm"><i class="fa fa-file-text"></i> <span>Clasează</span></button>
                	  	<button type="button" class="btn btn-default btn-sm"><i class="fa fa-check-square-o"></i> <span>Rezolvă</span></button>
                	  	<button type="button" class="btn btn-default btn-sm"><i class="fa fa-mail-forward"></i> <span>Redirecționează</span></button>
                	  </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr>
                    	<th><input type="checkbox"/></th>
                        <th>Numar inregistrare</th>
                        <th>Nume petent</th>
                        <th>E-mail petent</th>
                        <th>Rezumat petitie</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    	<td><input type="checkbox"/></td>
                        <td>48293</td>
                        <td>Tudor Nixon</td>
                        <td>t.nixon@datatables.net</td>
                        <td>Some random text</td>
                        <td>Solutionata</td>
                    </tr>
                    <tr>
                    	<td><input type="checkbox"/></td>
                        <td>49521</td>
                        <td>George Winters</td>
                        <td>g.winters@datatables.net</td>
                        <td>Some other random</td>
                        <td>Pending</td>
                    </tr>
                    <tr>
                    	<td><input type="checkbox"/></td>
                        <td>43131</td>
                        <td>Alex Cox</td>
                        <td>a.cox@datatables.net</td>
                        <td>Bla bla bla</td>
                        <td>Nesolutionata</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<div th:replace="main_head::includes"></div>

<!-- Datatables -->
<script th:inline="javascript" type="application/javascript">
    /*<![CDATA[*/
    var languageUrl = /*[[@{/vendors/datatables.net-i18n/Romanian.json}]]*/ "../static/vendors/datatables.net-i18n/Romanian.json";
    /*]]>*/

    $(document).ready(function () {
        $('#datatable-responsive').DataTable({
            language: {
                url: languageUrl
            }
        });
    });
</script>
<!-- /Datatables -->
</body>
</html>