<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main_head :: head"></head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col" th:replace="fragments/left::menu"></div>

        <!-- top navigation -->
        <div class="top_nav" th:replace="fragments/top::menu"></div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div id="error-messages"></div>
            <div class="">
                <h2>Petițiile mele</h2>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="radio">
                     <label>
                       <input type="radio" class="flat" name="iCheck" id="started" checked="true"/> Petiții în lucru
                     </label>
                   </div>
                   <div class="radio">
                     <label>
                       <input type="radio" class="flat" name="iCheck" id="all"/> Toate
                     </label>
                   </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                	  <div class="buttons pull-right">
                          <button id="add" type="button" class="btn btn-default btn-md"><i class="fa fa-plus-square-o"></i>&nbsp;<span>Adaugă</span></button>
                          <button id="modify" type="button" class="btn btn-default btn-md"><i class="fa fa-pencil-square-o"></i>&nbsp;<span>Modifică</span></button>
                          <button id="start" type="button" class="btn btn-default btn-md" data-toggle="tooltip" title="Trimite e-mail cu o confirmare de primire către petent, având numărul de înregistrare alocat și termenul de soluționare"><i class="fa fa-hourglass-start"></i>&nbsp;<span>Trimite confirmare</span></button>
                          <button id="close" type="button" class="btn btn-default btn-md"><i class="fa fa-share-square-o"></i>&nbsp;<span>Clasează</span></button>
                          <button id="resolve" type="button" class="btn btn-default btn-md"><i class="fa fa-check-square-o"></i>&nbsp;<span>Rezolvă</span></button>
                          <button id="redirect" type="button" class="btn btn-default btn-md"><i class="fa fa-mail-forward"></i>&nbsp;<span>Redirecționează</span></button>
                	  </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap jambo_table bulk_action" cellspacing="0" width="100%">
                </table>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<div th:replace="fragments/main_head::includes"></div>

<!-- Variables from backend -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var apiUrl = /*[[${apiUrl}]]*/ '/api/emails';
    var languageUrl = /*[[@{/vendors/datatables.net-i18n/Romanian.json}]]*/ "../static/vendors/datatables.net-i18n/Romanian.json";
    /*]]>*/
</script>

<script type="text/javascript" th:inline="none">
    $(document).ready(function () {
        var statusFilter = "started";

        <!-- Datatables -->
        var petitionTable = $('#datatable-responsive').DataTable({
            select: {
                style: 'multi'
            },
            processing: true,
            serverSide: true,
            sDom: 'lrtip ',
            order: [[2, 'asc']],
            rowId: "id",
            ajax: {
                url: apiUrl,
                type: 'POST',
                data: function(d) {
                    d["status"] = statusFilter;
                }
            },
            language: {
                url: languageUrl,
                select: selectTranslation()
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, full, meta) {
                        return '<input type="checkbox"/>';
                    },
                    sortable: false,
                    className: 'text-center',
                    width: '15px'
                },
                {
                    name: 'regNo',
                    data: 'regNo',
                    title: 'Numar inregistrare'
                },
                {
                    name: 'deadline',
                    data: 'deadline',
                    title: 'Termen'
                },
                {
                    name: 'petitioner.lastName',
                    data: 'petitionerName',
                    title: 'Nume petent',
                    render: function (data) {
                        return strLimit(data, 30);
                    }
                },
                {
                    name: 'petitionerEmail',
                    data: 'petitionerEmail',
                    title: 'Email petent'
                },
                {
                    name: '_abstract',
                    data: '_abstract',
                    title: 'Rezumat petitie',
                    render: function (data) {
                        return strLimit(data, 70);
                    },
                    sortable: false
                },
                {
                    name: 'status',
                    data: 'status',
                    title: 'Status'
                }
            ]
        });

        selectActions(petitionTable);

        $("#add").click(function () {
            window.location.href = '/petition';
        });

        $("#modify").click(function () {
            var selectedRows = petitionTable.rows({selected: true}).data().toArray();
            if (selectedRows.length != 1) {
                addWarning("#error-messages", "Pentru modificări selectați o singură petiție");
                this.blur()
            } else {
                window.location.href = '/petition/' + selectedRows[0].id;
            }
        });

        $('#redirect').click(function(){
            var selectedRows = petitionTable.rows({selected: true}).data().toArray();
            if (selectedRows.length != 1) {
                addWarning("#error-messages", "Pentru redirectare selectați o singură petiție");
                this.blur()
            } else {
                window.location.href = '/petition/redirect/' + selectedRows[0].id;
            }
        });

        $("#start").click(function () {
            var selectedRows = [];
            $.each(petitionTable.rows({selected: true}).data().toArray(), function (i, row) {
                selectedRows.push(row.id);
            });
            if (selectedRows.length < 1) {
                addWarning("#error-messages", "Pentru a schimba statusul, selectați măcar o petiție");
                this.blur()
            } else {
                $.ajax({
                    url: "/api/petitions/start-work",
                    data: {'petitions': selectedRows},
                    method: 'post'
                }).done(function (data) {
                    if (data.success == "true") {
                        addSuccess("#error-messages", data.errorMsg);
                        petitionTable.ajax.reload();
                    } else {
                        addError("#error-messages", data.errorMsg);
                        petitionTable.ajax.reload();
                    }
                    if (data.warnMsg != undefined) {
                        addWarning('#error-messages', data.warnMsg)
                    }
                }).fail(function (result) {
                    console.log(result)
                });
            }
        });

        $('#resolve').click(function(){
            var selectedRows = petitionTable.rows({selected: true}).data().toArray();
            if (selectedRows.length != 1) {
                addWarning("#error-messages", "Pentru rezolvare selectați o singură petiție");
                this.blur()
            } else {
                window.location.href = '/petition/' + selectedRows[0].id + '/resolve/resolved';
            }
        });

        $('#close').click(function(){
            var selectedRows = petitionTable.rows({selected: true}).data().toArray();
            if (selectedRows.length != 1) {
                addWarning("#error-messages", "Pentru clasare selectați o singură petiție");
                this.blur()
            } else {
                window.location.href = '/petition/' + selectedRows[0].id + '/resolve/closed';
            }
        });

        $('input[name=iCheck]').on('ifChecked', function (event) {
            statusFilter = event.target.id;
            petitionTable.ajax.reload();
        });

        $('#start').tooltip();
    });
</script>

<div th:replace="fragments/main_head::toast"></div>
</body>
</html>