<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main_head::head"></head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col" th:substituteby="left::menu"></div>
            <!-- top navigation -->
            <div class="top_nav" th:substituteby="top::menu"></div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <h2>Redirecționeaza petiție</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Responsabil: </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="responsible" id="responsible">
                                    <option></option>
                                    <option>Responsabil 1</option>
                                    <option>Responsabil 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Redirecționează către:</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="form-control" id="institutii" multiple="multiple">
                                    <option></option>
                                    <option>Institutia 1</option>
                                    <option>Institutia 2</option>
                                    <option>Institutia 3</option>
                                    <option>Institutia 4</option>
                                    <option>Institutia 5</option>
                                    <option>Institutia 6</option>
                                </select>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Mesaj: </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <textarea class="resizable_textarea form-control" placeholder="mesaj..."></textarea>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-default"><i class="fa fa-paste"></i> <span>Salveaza</span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <div th:replace="main_head::includes"></div>

    <!-- Datatables -->
    <script th:inline="javascript" type="application/javascript">
    /*<![CDATA[*/
    var languageUrl = /*[[@{/vendors/datatables.net-i18n/Romanian.json}]]*/ "../static/vendors/datatables.net-i18n/Romanian.json";
    /*]]>*/

    $(document).ready(function() {
        $("#responsible").select2({
            placeholder: "Alege responsabilul",
            allowClear: true
        });
        $("#institutii").select2({
            maximumSelectionLength: 4,
            placeholder: "Maxim 4 institutii",
            allowClear: true
        });
    });
    </script>
    <!-- /Datatables -->
    <div th:substituteby="main_head::toast"></div>
</body>

</html>